.custom-navbar {
  min-height: 100px; /* Altere para a altura desejada */
  background-color: #191919; /* Altere para a cor desejada */
}

.custom-navbar .navbar-brand {
  font-size: 1.6rem; /* Ajuste o tamanho da fonte da marca conforme necessário */
}

.custom-navbar .navbar-nav .nav-link {
  font-size: 1.3rem; /* Ajuste o tamanho da fonte dos itens de navegação conforme necessário */
}
